/* stores color scheme*/
:root {
    --beige: #D0A78B;
    --cream: #DBC3B2;
    --coffee: #80502F;
    --neutral: #B08465; 
    --full: 100%;
}

/* sets 1rem to 10px*/
html {
    font-size: 62.5%;
}

body {
    background-color: var(--cream);
    color: var(--coffee);
    font-family: 'Andale Mono', Courier, monospace;
    font-size: 1.8rem;
    line-height: 1.5;
}

header {
    border-bottom: 0.5rem solid var(--neutral);
    height: 10rem;
    padding: 1rem 0rem;
    margin-bottom: 1rem;
}

/* makes nav links horizontal*/
ul li {
    display: inline-block;
}

main {
    margin: 1.5rem;
    text-align: center;
}

h2 {
    display: inline-block;
    width: 50%;
    font-size: 2.5rem;
    border: .5rem double var(--beige);
    margin: 1rem;
}

header, footer {
    background-color: var(--coffee);
    color: var(--beige);
    width: var(--full);
}

footer {
    border-top: 0.5rem solid var(--neutral);
    height: 8rem;
    line-height: 5.5rem;
    padding: 1rem;
    text-align: center;
}

.main-header {
    background-color: var(--beige);
    color: var(--coffee);
    float: left;
    font-size: 3rem;
    line-height: 7.5rem;
    text-align: center;
    width: 40rem;
}

.main-nav a {
    color: var(--beige);
    padding: 0rem 1.3rem 0rem;
}

.main-nav {
    float: right;
    font-size: 2.5rem;
    line-height: 7.5rem;
    padding: 0rem 6rem 0rem;
}

/* set nav links highlight color*/
.color-nav:hover {
    color: hsl(118, 24%, 69%);
}

.bio {}
.bio-image {}
.bio-text {}

.work {
    
}

.content {
    display: inline-block;
    width: 60rem;
    height: 60rem;
    text-align: center;
    border: .5rem double var(--beige);
    border-radius: 2rem;
    margin: 2rem;
}

.content h3{
    padding: 3rem;
    background: var(--beige);
    color: var(--coffee);
    border-radius: 1.5rem 1.5rem 0rem 0rem;
}

.content img {
    width: 100%;
    height: 50rem;
    padding: 1rem;
    border-radius: 2rem;
}

.main-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.card {
    width: 35rem;
    height: 35rem;
    text-align: center;
    border: .5rem double var(--beige);
    border-radius: 2rem;
    opacity: 0.7;
}

.card h3 {
    padding: 2rem;
    background: var(--beige);
    color: var(--coffee);
    border-radius: 1.5rem 1.5rem 0rem 0rem;
}

.card img {
    width: 100%;
    height: 27.3rem;
    padding: 1rem;
    border-radius: 2rem;
}

.card:hover {
    border-color: var(--coffee);
    opacity: 1;
}

.contact-links {}
.contact-form {}
.label {}
.input {}
.btn {}
